@model PAET.DominioBase.Entidades_Dominio.VwEntrevistasActivasDto
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="display-4">Ménú Principal</h1>
                </div>
            </div>
            <div class="account-wall">
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <img src="~/Content/images/Menu/Quiz64.png" />
                    </div>
                    <div class="col-md-6">
                        <button type="button" @Model.EntrevistaTest  onclick="location.href='@Url.Action("Preguntas", "Preguntas")'" class="btn btn-primary btn-lg">Realizar prueba de evaluación técnica</button>
                    </div>
                </div>
                <div class="top-buffer"></div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <img src="~/Content/images/Menu/Chat64.png" />
                    </div>
                    <div class="col-md-6">
                        <button type="button" @Model.Chat onclick="location.href='@Url.Action("Chat", "Chat")'" class="btn btn-primary btn-lg">Iniciar sesión en chat</button>
                    </div>
                </div>
                <div class="top-buffer"></div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <img src="~/Content/images/Menu/Camera64.png" />
                    </div>
                    <div class="col-md-6">
                        <button type="button" @Model.Multimedia onclick="location.href='@Url.Action("Multi", "Multi")'" class="btn btn-primary btn-lg">Entrevista multimedia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
}
