
@{
    ViewBag.Title = "Configurar Entrevista";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bs-docs-section">
                <h1 class="page-header">Configurar Entrevista</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="rootwizard">
                <ul id="config_entrevista">
                    <li><a href="#tab1" data-toggle="tab">Datos de la entrevista</a></li>
                    <li><a href="#tab2" data-toggle="tab">Configurar prueba evaluación técnica</a></li>
                    <li><a href="#tab3" data-toggle="tab">Configurar Chat</a></li>
                    <li><a href="#tab4" data-toggle="tab">Configurar Multimedia</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="tab1">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.Label("Descripción", htmlAttributes: new { @class = "control-label col-xs-11 pull-left" })
                                @Html.Editor("txtdescentrevista", new { htmlAttributes = new { @class = "form-control", @maxlength = 50 } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 form-group">
                                @Html.Label("Fecha Inicio", htmlAttributes: new { @class = "control-label col-xs-6 pull-left" })
                                @Html.Editor("txtfechainientrevista", new { htmlAttributes = new { @class = "form-control", @maxlength = 10 } })
                            </div>
                            <div class="col-xs-3 form-group">
                                @Html.Label("Fecha Fin", htmlAttributes: new { @class = "control-label col-xs-6 pull-left" })
                                @Html.Editor("txtfechafinentrevista", new { htmlAttributes = new { @class = "form-control", @maxlength = 10 } })
                            </div>
                            <div class="col-xs-3 form-group">
                                @Html.Label("Nº de preguntas", htmlAttributes: new { @class = "control-label col-xs-8 pull-left" })
                                @Html.Editor("txtnumpreguntasentrevista", new { htmlAttributes = new { @class = "form-control", @maxlength = 10 } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">2</label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="control-group">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    @Html.Label("Seleccione los candidatos que tendrán que afrontar la prueba de evaluación técnica", htmlAttributes: new { @class = "control-label col-xs-6 pull-left" })
                                    <select id="lsttecnorntrevista" multiple="multiple" name="lsttecnorntrevista" class="form-control">
                                        <option value="1">Juan Español</option>
                                        <option value="2">Juana Española</option>
                                        <option value="3">Pedro Pérez</option>
                                        <option value="4">José Rodríguez</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    @Html.Label("Seleccione el grupo de tecnologías que formarán parte de la entrevista", htmlAttributes: new { @class = "control-label col-xs-6 pull-left" })
                                    <select id="lsttecnorntrevista" multiple="multiple" name="lsttecnorntrevista" class="form-control">
                                        <option value="1">C#</option>
                                        <option value="2">Linq</option>
                                        <option value="3">Vb.Net</option>
                                        <option value="4">Javascript</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-group">
                                    @Html.Label("Seleccione la dificultad de las preguntas de la entrevista", htmlAttributes: new { @class = "control-label col-xs-6 pull-left" })
                                    <select id="lsttecnorntrevista" multiple="multiple" name="lsttecnorntrevista" class="form-control">
                                        <option value="1">Fácil</option>
                                        <option value="2">Media</option>
                                        <option value="3">Alta</option>
                                        <option value="4">Experto</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-group">
                                    @Html.Label("Seleccione las preguntas de la entrevista (si no selecciona ninguna o no coincide con el número del paso anterior, se seleccionarán aleatoriamente al finalizar el asistente)", htmlAttributes: new { @class = "control-label col-xs-6 pull-left" })
                                    <select id="lsttecnorntrevista" multiple="multiple" name="lsttecnorntrevista" class="form-control">
                                        <option value="1">¿Cómo se declara una variable en C#?</option>
                                        <option value="2">Explica en breves palabras las diferencias entre una clase abstracta y una interfaz"</option>
                                        <option value="3">Escribe un programa que muestre en pantalla los números del 1 al 100, sustituyendo los múltiplos de 3 por la palabra “Fizz” y, a su vez, los múltiplos de 5 por “Buzz”. Para los guarismos que, al tiempo, son múltiplos de 3 y 5, utiliza el combinado “FizzBuzz”</option>
                                        <option value="4">Explica brevemente los principios SOLID.</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div class="control-group">
                            <div class="col-md-12 form-group">
                                @Html.Label("Seleccione los candidatos que formarán parte del chat", htmlAttributes: new { @class = "control-label col-xs-6 pull-left" })
                                <select id="lsttecnorntrevista" multiple="multiple" name="lsttecnorntrevista" class="form-control">
                                    <option value="1">Juan Español</option>
                                    <option value="2">Juana Española</option>
                                    <option value="3">Pedro Pérez</option>
                                    <option value="4">José Rodríguez</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="tab4">
                        <div class="control-group">
                            <div class="control-group">
                                <div class="col-md-12 form-group">
                                    @Html.Label("Seleccione los candidatos que tendrán que afrontar una entrevista multimedia", htmlAttributes: new { @class = "control-label col-xs-6 pull-left" })
                                    <select id="lsttecnorntrevista" multiple="multiple" name="lsttecnorntrevista" class="form-control">
                                        <option value="1">Juan Español</option>
                                        <option value="2">Juana Española</option>
                                        <option value="3">Pedro Pérez</option>
                                        <option value="4">José Rodríguez</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pager wizard">
                        <li class="previous first" style="display:none;"><a href="#">Primera</a></li>
                        <li class="previous"><a href="#">Anterior</a></li>
                        <li class="next last" style="display:none;"><a href="#">Última</a></li>
                        <li class="next"><a href="#">Siguiente</a></li>
                    </ul>
                </div>




            </div>
        </div>
    </div>
</div>
<div class="container">

</div>
@section Scripts
                                    {
    <script src="@Url.Content("~/Scripts/ConfEntrevista.js")"></script>
}
